:javascript
  $(document).ready(function() {
    localStorage.setItem('visited-'+window.location.pathname,true);
    var links = document.getElementsByTagName('a');
    for (i=0;i<links.length;i++) {
      var link = links[i];

      if (link.pathname == window.location.pathname) {
        link.classList.add('currentPage');
      }
      if (link.host == window.location.host
      && localStorage.getItem('visited-' + link.pathname)) {
        link.dataset.visited = true;
      }
    }
  });

%nav.side_nav
  - unless current_page?(applications_path)
    %ul
      %li#welcome_link
        = link_to 'Welcome', applications_you_and_your_family_path(id: 'welcome'), :data => {:visited => true}
      %li#your_family_link{ class: application.you_and_your_family_complete? ? 'complete' : '' }
        = link_to 'You and your family', applications_you_and_your_family_path(id: 'name_change_info')
        .complete_icon=fa_icon "check"

        %ul.sub_nav
          %li#about_link{ class: application.about_you_complete? ? 'complete' : '' }
            = link_to 'About you', applications_you_and_your_family_path(id: 'what_is_your_name')
            .complete_icon=fa_icon "check"
          %li#work_link{ class: application.working_experience_complete? ? 'complete' : '' }
            = link_to 'Your employment history', applications_you_and_your_family_path(id: 'welcome_working')
            .complete_icon=fa_icon "check"
          %li#home_link{ class: application.address_history_complete? ? 'complete' : '' }
            = link_to 'Your address history', applications_you_and_your_family_path(id: 'address_welcome')
            .complete_icon=fa_icon "check"
          / %li#address_link= link_to 'remove this link once address sorted', applications_you_and_your_family_path(id: 'previous_addresses')
          %li#family_link{ class: application.family_complete? ? 'complete' : '' }
            = link_to 'Your family', applications_you_and_your_family_path(id: 'your_family')
            .complete_icon=fa_icon "check"
          %li#pets_link{ class: application.pets_complete? ? 'complete' : '' }
            = link_to 'Your pets', applications_you_and_your_family_path(id: 'pets')
            .complete_icon=fa_icon "check"
      %li#carer_link{ class: application.support_carer_complete? ? 'complete' : '' }
        = link_to 'Your support carer', applications_support_carer_path(id: 'intro')
        .complete_icon=fa_icon "check"
      %li#reference_link{ class: application.references_complete? ? 'complete' : '' }
        = link_to 'Your references', intro_applications_referees_path
        .complete_icon=fa_icon "check"
      %li#legal_link{ class: application.legal_history_complete? ? 'complete' : '' }
        = link_to 'Legal history', applications_legal_history_path(id: 'intro')
        .complete_icon=fa_icon "check"
      %li#consent_link{ class: application.all_application_complete? ? 'complete' : 'disabled' }
        = link_to 'Consent', new_applications_confirmation_path
