%section.section
  %h1 Your References

  - if referees.count > 0
    -if referees.count != 6
      %h2
        You need
        =(6-referees.count)
        more references
    %table.table
      %thead
        %tr
          %th
            First Name
          %th
            Surname
          %th
          %th
      %tbody
        = render partial: 'people/person', collection: referees
  - else

    %p Talking to people who have known you over a period of time helps us get a more complete understanding of you as a future foster carer. Your references will need to have known you for longer than 6 months.


    %div.box.info
      %h2 You will need 6 references
      %p.bold They should be a mixture of:
      %ul.default
        %li 1-2 family members
        %li Ex-colleagues
        %li Neighbours
        %li Friends

    %hr

  - if referees.count == 6

    = link_to t('continue'), application_legal_history_path(application_id: application.code, id: :intro), class: 'button confirm'

  - else

    %h2
      Add a referee

    = simple_form_for [application, (defined?(referee) ? referee : referees.new)], html: { class: 'referee_form', data: { api_key: ENV['IDEAL_POSTCODES_API_KEY'] } } do |f|
      - @questions.each do |q|
        = render partial: q['widget'].to_s, locals: { form: f, question: q, questions: q['questions'] }
      = f.submit t('referee.add'), class: "button"

  = back_link
