%section.section
  %ul.box.info
    %p
      = question['intro']
    %li
      = question['list_1']
    %li
      = question['list_2']
    %li
      = question['list_3']
    %li
      = question['list_4']