%section.section
  %h1= title
  
  - if people.count > 0
    %table.table
      %thead
        %tr
          %th
            First Name
          %th
            Surname
          %th
          %th
      %tbody
        = render partial: 'people/person', collection: people
  
  %h2= subtitle
  
  = simple_form_for [application, (defined?(person) ? person : people.new)] do |f|
    - @questions.each do |q|
      = render partial: q['widget'].to_s, locals: { form: f, question: q }
    - if defined?(person)
      = f.submit t('update'), class: "confirm"
    - else
      = f.submit t('add'), class: "button"
  
  - if defined?(wizard_path)
  
    %hr/

    = simple_form_for setup_application(application), url: wizard_path, method: :put do |f|
      = render partial: 'actions', locals: { form: f }
