%h1 Forgot your password?
= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = devise_error_messages!
  .with_title
    = f.input :email, as: :email, label: 'Email'
    = f.submit "Send me reset password instructions"
= render "devise/shared/links"
