%section.section
  %h1 Tell us about your previous addresses
  
  %p Your previous addresses are essential for successful background checks
  
  %table.table#previous_addresses
    %thead
      %tr
        %th
          Address
        %th
          From
        %th
          To
        %th
        %th
    %tbody
      - application.addresses.each do |address|
        %tr
          %td.address
            = address.full_address
          %td.from
            = address.date_from.strftime('%d/%m/%y')
          %td.to
            = address.date_to.strftime('%d/%m/%y')
          %td
            = link_to 'Edit', edit_application_address_path(application, address)
          %td
            = button_to 'Delete', application_address_path(application, address), method: :delete, form_class: 'delete_address' ,data: { confirm: 'Are you sure you want to delete this address?' }
  
  %h2 Add an address
  
= simple_form_for setup_application(application), url: wizard_path, html: { class: 'previous_addresses' }, method: :put do |f|
  
  = f.simple_fields_for :addresses, application.addresses.new do |ff|
    = render partial: "shared/address_fields", locals: { form: ff }
    
  %section.actions
    = f.submit 'Continue', class: "confirm hidden"
      
