%nav.nav.side
  %ul
    %li
      = link_to 'You & your family', 'You & your family'
      %ul
        %li.active
          = link_to 'About you', 'About you'
        %li
          = link_to 'Working exerience'
        %li
          = link_to 'Your home'
        %li
          = link_to 'Address history'
        %li
          = link_to 'Your family'
        %li
          = link_to 'Your pets'
    %li
      = link_to 'Legal History'
    %li
      = link_to 'References'
    %li
      = link_to 'Support Carer'
    %li
      = link_to 'Health'
    %li
      = link_to 'Checks'
