%nav.nav.side#menu
  %ul
    %li
      = link_to 'Fostering in Hackney', ''
    %li
      = link_to 'What is fostering?', what_index_path
    %li
      = link_to 'Who can foster?', who_index_path
    %li
      = link_to 'Why foster with Hackney?', why_index_path
    %li
      = link_to 'Check if you can foster', eligibility_index_path