%tr
  %td= pet.pet_type
  %td= pet.size
  %td= pet.neutered
  %td= pet.age
  %td= pet.where_allowed
  %td= pet.areas
  %td= pet.sleeping_area
  %td= pet.feeding_area
  %td= pet.temperament
  %td= pet.toilet
  %td= pet.bitten_or_hurt
  %td= pet.bitten_or_hurt_detail
  %td= pet.vet
  %td= pet.vaccination
  %td= pet.children_experience
