%tr
  %td= referee.object.first_name
  %td= referee.object.last_name
  %td= referee.address.full_address
  %td= referee.object.email
  %td= referee.object.phone_number
  %td= referee.object.relationship
  %td= referee.object.years_known
