%h1
  Log in
.with_title
  = simple_form_for(setup_user(UserLogin.new), url: user_login_session_path) do |f|

    = f.input :email, as: :email, label: 'Email'
    = f.input :password, as: :password, label: 'Password'

    = f.submit 'Log in'
  %br
  = render 'devise/shared/links'
