%section.section
  %h1 Edit Address
  
= simple_form_for [address.application, address], method: :put do |form|
  
  = form.input :line_1, as: :string, label: 'Line 1'
  = form.input :line_2, as: :string, label: 'Line 2'
  = form.input :line_3, as: :string, label: 'Line 3'
  = form.input :post_town, as: :string, label: 'Post Town'
  = form.input :postcode, as: :string, label: 'Postcode'
  
  = form.input :date_from, as: :date, label: 'Date moved in'
  = form.input :date_to, as: :date, label: 'Date moved out'

  %section.actions
    = form.submit 'Save', class: "confirm"
    
