!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Fostering | Hackney Council
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render '/layouts/layouts/favicon'
  %body{ class: "#{page_class} #{request.path_parameters[:id]}" }
    = render '/layouts/layouts/header'
    .container
      .back_links.hackney
        =link_to "https://www.hackney.gov.uk/fostering", target: "_blank" do
          =fa_icon "caret-left"
          Return to Hackney Fostering
      = yield
    = render '/layouts/layouts/footer'

  :javascript
    $("select.answer").find("option").eq(0).remove();
