!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title HackneyFostering
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render '/layouts/layouts/favicon'
  %body{ class: "#{page_class} #{request.path_parameters[:id]}" }
    = render '/layouts/layouts/header'
    .container
      .third
        = render 'application_nav'
      .two_thirds
        = yield
    = render '/layouts/layouts/footer'

  :javascript
    $("select.answer").find("option").eq(0).remove();
